@import "~@/assets/css/normalize.css";
@import "background.scss";


@font-face {
  font-family: 'Days-One';
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/DaysOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pixel-Square';
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/Pixel_Square.ttf') format('truetype');
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div {
  display: flex;
  flex-direction: column;
}

body, html, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", "Lucida Grande", "Trebuchet MS", Arial, "lucida sans unicode", sans-serif;
}

#app {
  display:block;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

* .popup {
  display: none; /* WIP */
  z-index: 20;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 260px;
  min-height: 40px;
  padding: 6px;
  border: 2px solid #3965FB;
  border-radius: 2px;
  background: rgba(35, 37, 100, .9);
  box-shadow: 0 0 8px 1px inset #3965FB;

  & h3 {
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    font-size: .9rem;
    font-weight: 700;
    font-variant: small-caps;
    color: white;
  }

  & p {
    margin: 0;
    padding: 0;
    font-size: .8rem;
    line-height: 1.1rem;
    font-weight: 400;
    font-variant: initial;
    color: white;
  }
}

.flex-row {
  flex-direction: row;
}